
.background
{
    background-image: url(../img/background.jpg);
    margin: 0;
    background-repeat:no-repeat;
    background-position:top,left;
    background-size: cover;
    height: 1000px;
    padding-top: 50px;
}

.news-grid
{
    padding: 25px; 
    vertical-align:middle; 
    text-align: center;
}

.news-grid > .row
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.news-grid > .img-circle 
{
    border: none;
}


.list-group
{
    text-align: right;
    padding-top: 100px;
}
a.list-group-item
{
    border-style: none;
    color: white;
    background-color: transparent;
    margin-right: 50px;
}


a.list-group-item:hover, button.list-group-item:hover
{
    color: white;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    border-style: none;
    outline: none;
}

a.list-group-item:focus, button.list-group-item:focus
{
    color: white;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    border-style: none dotted none none;
    outline: none;
    border-right-width: thick;
    border-right-color: #FF0000;
}





.btn-link {
  color: white;
}
.btn-link:hover, .btn-link:focus
{
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    color: white;
    border-right: 1px solid red;
}

.btn-link-text
{
    text-align: right;
    vertical-align: middle;
    padding-right: 50px;
}

.btn-link-scroll
{
    color: white;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 30px;
}





.navbar {
  background-color: #080808;
  border-color: #080808;
}

.collapse.navbar-collapse {
  background-color: #080808;
  border-color: #080808;
}

.navbar-header {
  background-color: #080808;
  border-color: #080808;
}

.collapse.navbar-collapse .navbar-nav > li > a {
  color: white;
}
.collapse.navbar-collapse .navbar-nav > li > a:hover,
.collapse.navbar-collapse .navbar-nav > li > a:focus {
  border-bottom: 1px solid red;
  background-color: transparent;
}






.navbar-inverse .navbar-brand {
  color:Red;
}











.jumbotron
{
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: transparent;
}
.jumbotron h1, .jumbotron .h1
{
    border-bottom: 1;
    border-bottom-style: solid;
    border-bottom-color: #FF0000;
}
.jumbotron p
{
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}


@media (max-width: 768px) {
  .background
{
    display: none;

}
}



